<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.applocker.app">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="WrongManifestParent" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Utils.AppLocker"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning, UnusedAttribute">
        <activity
            android:name=".Views.Activity.SetQuestionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.AskQuestionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.ObserverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.SetPasswordActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.IconActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.PremiumActivityDailog"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.FeedbackActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.ShareActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.PremiumActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.PrivacyActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.TermsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.CustomActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.ImageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.SpyActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Dailog.InstalledActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".Views.Dailog.PermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".Views.Activity.SettingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Views.Activity.AppsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.SetAppsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utils.Pin.activity.PinActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utils.Pin.activity.CorePinActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:turnScreenOn="true" />
        <activity
            android:name=".Views.Activity.ConfigActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Views.Activity.LoaderActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Views.Activity.IntroActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Views.Activity.SlidesActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".one"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/icon_camera"
            android:label="Camera"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".two"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/icon_calendar"
            android:label="Calender"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".three"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/icon_notes"
            android:label="Notes"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".four"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/weather"
            android:label="Weather"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".five"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/icon_calculator"
            android:label="Calculator"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".six"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/gmail"
            android:label="Mail"
            android:targetActivity=".Views.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver
            android:name=".Receiver.AppLockerDeviceAdminReceiver"
            android:description="@string/app_name"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_uses_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver.BootComplete"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.LockRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />
        <receiver
            android:name=".Receiver.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Service.LockService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
        <service
            android:name=".Service.SpyCamera.CameraService"
            android:foregroundServiceType="camera"
            android:stopWithTask="true" />
        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="false"
            android:priority="1000">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>